# Created by .ignore support plugin (hsz.mobi)
### Maven template
=======

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar

.gitignore
.idea/
pom.xml
src/main/java/emitter/Invoice.java
src/main/java/emitter/SseEmitterHelloWorldApplication.java
src/main/resources/
src/test/
sse-emitter-helloworld.iml
/target

